#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

<section class="columns is-multiline">
#{list items:stations, as:'station'}
  <div class="column is-half">
  <div class="content box">
    <h1 class="title is-white">
      ${station.name}
    </h1>
        <a href="/stations/${station.id}" class="icon has-text-info">
            <i class="fas fa-folder"></i>
        </a>
  </div>
    </div>
  #{/list}

</section>
#{addstation /}
#{if flash.error}
<div class ="column is-one-third">
  <div class="content box is-rounded notification is-danger is-light">
    ${flash.error}
  </div>
</div>
#{/if}

